[Unit]
Description=Start offlineimap as a daemon
After=network.target

[Service]
ExecStart=/usr/bin/offlineimap
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=default.target
