[Unit]
Description=Start tmux in detached session

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -n 'irc' 'irssi && zsh'
ExecStart=/usr/bin/tmux new-window -n 'mail' 'mutt && zsh'
ExecStart=/usr/bin/tmux new-window -n 'torrent' 'transmission-remote-cli && zsh'
ExecStart=/usr/bin/tmux new-window -n 'music' 'ncmpcpp && zsh'
ExecStart=/usr/bin/tmux new-window -n 'video' 'zsh'
ExecStart=/usr/bin/tmux select-window -t 1
ExecStop=/usr/bin/tmux kill-session -t 0

[Install]
WantedBy=default.target
