[user]
	name = Andrew Wong
	email = andrew.w@canva.com
[core]
    attributesfile = ~/.gitattributes_global
    excludesfile = ~/.gitignore_global
    editor = nvim
[color]
    ui = true
[color "branch"]
    current = brightgreen bold
    remote = brightred bold
[color "diff"]
    meta = brightyellow bold
    commit = brightgreen bold
    frag = brightmagenta bold
    old = brightred bold
    new = brightgreen bold
    whitespace = brightred reverse
[color "diff-highlight"]
    oldNormal = brightred bold
    oldHighlight = brightred bold 52
    newNormal = brightgreen bold
    newHighlight = brightgreen bold 22
[color "status"]
    added = brightgreen bold
    changed = brightred bold
    untracked = brightred bold
[github]
    user = w0ng
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"
[alias]
    l = log --pretty=format:'%C(yellow)%h%C(magenta)%d%C(reset) %s %C(cyan)%aN %C(blue)(%cd)%C(reset)' --date=format:'%a %F %R' --graph --use-mailmap
    s = status -sb
[push]
    default = simple
[merge]
    tool = nvimdiff
    renameLimit = 999999
[mergetool]
    keepBackup = false
[mailmap]
    file = ~/.mailmap
[pager]
  ; diff = diff-so-fancy | less --tabs=4 -RFX
  ; show = diff-so-fancy | less --tabs=4 -RFX
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  syntax-theme = gruvbox-dark
  file-style = brightyellow bold
  file-decoration-style = yellow ol ul
  hunk-header-style = line-number syntax
  hunk-header-decoration-style = magenta box
  ; side-by-side = true
[commit]
	template = ~/.stCommitMsg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[protocol]
	version = 2
[pull]
	rebase = false
[init]
	defaultBranch = main
