{
  "plugins": ["jest"],
  "extends": [
    "airbnb-base",
    // override airbnb rules that prettier formatting
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
  },
  "rules": {
  }
}
