{
  "plugins": ["jest"],
  "extends": [
    "airbnb-base",
    // override airbnb rules that prettier formatting
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
  }
}
