{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-alert": "warn",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "react/prefer-stateless-function": "warn"
  }
}
