#
# ~/.gitconfig
#

[user]
	name = Andrew Wong
	email = akamchoiw@gmail.com
[color]
	ui = true
[color "branch"]
  current = green bold
  remote = red bold
[color "diff"]
  meta = yellow
  frag = cyan bold
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = red bold
  untracked = red bold
[core]
	editor = vim
	excludesfile = /home/w0ng/.gitignore_global
[github]
	user = w0ng
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	l = log --pretty=format:'%C(yellow)%h%C(magenta)%d%Creset %s %C(cyan)%cr%Creset' --graph
	s = status -sb
