[user]
	name = Andrew Wong
	email = andrew.wong@legalconsult.com.au
[core]
	excludesfile = /Users/andrew/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.4/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
    ui = true
[color "branch"]
    current = green bold
    remote = red bold
[color "diff"]
    meta = yellow
    frag = cyan bold
    old = red bold
    new = green bold
[color "status"]
    added = green bold
    changed = red bold
    untracked = red bold
[github]
    user = w0ng
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    l = log --pretty=format:'%C(yellow)%h%C(magenta)%d%Creset %s %C(cyan)%cN% C(blue)(%cr)%Creset' --graph --use-mailmap
    s = status -sb
[push]
    default = simple
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[mailmap]
	file = /Users/Home/.mailmap
